
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e802'; } /* '' */
.icon-mobile-1:before { content: '\e803'; } /* '' */
.icon-key:before { content: '\e804'; } /* '' */
.icon-commerical-building:before { content: '\e811'; } /* '' */
.icon-mobile:before { content: '\f034'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */